# compile error workaround
CONFIG_CRYPTO_CRC32C=y
CONFIG_LIBCRC32C=y

# ext4 support
CONFIG_EXT4_FS=y
CONFIG_EXT4_DEBUG=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_FS_MBCACHE=y
CONFIG_JBD2=y
CONFIG_JBD2_DEBUG=n

# devtmpfs
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=n

# unix domain sockets
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=n

# set maximum number of mvneta devices to 3 (thats the maximum of interfaces I know about)
CONFIG_MV_ETH_PORTS_NUM=3
CONFIG_MV_ETH_1_MACADDR="00:00:00:00:00:81"
CONFIG_MV_ETH_1_MTU=1500
CONFIG_MV_ETH_2_MACADDR="00:00:00:00:00:82"
CONFIG_MV_ETH_2_MTU=1500
CONFIG_MV_ETH_BM_PORT_1=y
CONFIG_MV_ETH_BM_PORT_1_LONG_BUF_NUM=2048
CONFIG_MV_ETH_BM_PORT_1_LONG_POOL=1
CONFIG_MV_ETH_BM_PORT_1_SHORT_BUF_NUM=3072
CONFIG_MV_ETH_BM_PORT_1_SHORT_POOL=3
CONFIG_MV_ETH_BM_PORT_2=y
CONFIG_MV_ETH_BM_PORT_2_LONG_BUF_NUM=2048
CONFIG_MV_ETH_BM_PORT_2_LONG_POOL=2
CONFIG_MV_ETH_BM_PORT_2_SHORT_BUF_NUM=3072
CONFIG_MV_ETH_BM_PORT_2_SHORT_POOL=3
