# compile error workaround
CONFIG_CRYPTO_CRC32C=y
CONFIG_LIBCRC32C=y

# ext4 support
CONFIG_EXT4_FS=y
CONFIG_EXT4_DEBUG=n
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_FS_MBCACHE=y
CONFIG_JBD2=y
CONFIG_JBD2_DEBUG=n

# devtmpfs
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=n

# unix domain sockets
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=n
