*~
.#*
/*.debhelper*
/*.substvars
/build/
/control*
/files
/linux-doc/
/linux-headers-*
/linux-image-*
/linux-perf/
/linux-source/
/linux-tools/
/rules.gen
/source.lintian-overrides
/stamps/
/xen-linux-system-*/
