Source: linux-3.14.y-fslc-imx6-sr
Section: kernel
Priority: optional
Maintainer: Josua Mayer <josua.mayer97@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1~), bc, lzop, python
Standards-Version: 3.9.3
Homepage: https://www.kernel.org/
Vcs-Git: https://github.com/mxOBS/deb-pkg_kernel-xyz.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_kernel-xyz

Package: linux-image-3.14.y-fslc-imx6-sr
Architecture: armel armhf
Provides: linux-image, galcore-5.0.11.25762
Depends: ${misc:Depends}, initramfs-tools | linux-initramfs-tool
Breaks:
 kernel-3.10.y-marvell-clearfog (<= 3.10.70pkg3),
 kernel-3.14.y-fslc-imx6-sr (<= 3.14.60pkg1)
Description: Downstream kernel for Cubox-i
 This package provides a downstream kernel optimized for i.MX6
 Cubox-i and Hummingboard devices

Package: linux-headers-3.14.y-fslc-imx6-sr
Architecture: armel armhf
Provides: linux-headers
Depends: ${misc:Depends}
Breaks: kernel-headers-3.14.y-fslc-imx6-sr (<= 3.14.60pkg1)
Description: kernel development files
 This package provides the required development files to build	
 modules for this kernel.

Package: linux-3.14.y-fslc-imx6-sr-dev
Architecture: armel armhf
Provides: imx-kernel-api
Depends: ${misc:Depends}
Breaks: kernel-3.14.y-fslc-imx6-sr-dev (<= 3.14.60pkg1)
Description: kernel API development files
 This package provides the required development files to
 utilize this kernel`s public API.

# dummy transition packages

Package: kernel-3.14.y-fslc-imx6-sr
Architecture: armel armhf
Depends: ${misc:Depends}, linux-image-3.14.y-fslc-imx6-sr, dtb-subfolder-compat (>= 1.0)
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: kernel-headers-3.14.y-fslc-imx6-sr
Architecture: armel armhf
Depends: ${misc:Depends}, linux-headers-3.14.y-fslc-imx6-sr
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: kernel-3.14.y-fslc-imx6-sr-dev
Architecture: armel armhf
Depends: ${misc:Depends}, linux-3.14.y-fslc-imx6-sr-dev
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
